.galeria-carrossel {
    padding: 2rem;
    text-align: center;
    background-color: #fff;
  }
  
  .carrossel {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    scroll-behavior: smooth;
  }
  
  .carrossel img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    flex-shrink: 0;
  }
  
  @keyframes fadeZoom {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .animate-fade-zoom {
    animation: fadeZoom 1s ease-out forwards;
  }